<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.getbouncer.cardscan">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application>
        <activity
            android:name=".ui.ScanActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar.FullScreen" />
        <activity
            android:name=".ui.ScanCardStepUpActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar.FullScreen" />
    </application>

</manifest>
