<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.getbouncer.cardscan.ui">

    <application>
        <activity
            android:name="com.getbouncer.cardscan.ui.CardScanActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/BouncerDefaultTheme" />
    </application>

</manifest>
