<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.getbouncer.cardscan.base">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ScanActivityImpl"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar.FullScreen" />
    </application>
</manifest>

